%h1= @board.name
%p
  Use table to show board...

= link_to "Add task", new_board_task_path(@board)

- @board.tasks.each do |task|
  %p=task.title


%table#main-table
  %thead
    %tr
      %td
        Applications
      %td
        Backlog
      %td
        Todo
      %td
        Work
      %td
        ToReview
      %td
        ToTest
      %td
        ToDeliver
  %tbody
    %tr
      %td
        Application 1
      %td
        task A
      %td
        task B<br/>
        task C
      %td
      %td
      %td
        task D
      %td
    %tr
      %td
        Application 2
      %td
        task E<br/>
        task F<br/>
        task G<br/>
      %td
      %td
        task H
      %td
        task I<br/>
        task J<br/>
      %td
        task K

