 html { font-size: 100%; }
 body {
   margin: 0;
   padding: 1em;
   font-family: Arial, Helvetica, FreeSans, sans-serif; 
   font-size: .8em; 
   line-height: 1.4; 
   color: black;
   background: white;
 }

 h1, h2, h3, h4, h5, h6 {
   margin: 1em 0 .5em 0;
   line-height: 1.2;
   font-weight: bold; 
   font-style: normal;
 }
 h1 { font-size: 1.75em; }
 h2 { font-size: 1.5em; }
 h3 { font-size: 1.25em; }
 h4 { font-size: 1em; }

 ul, ol {
   margin: .75em 0 .75em 32px;
   padding: 0;
 }

 p { margin: .75em 0; }

 address {
   margin: .75em 0;
   font-style: normal;
 }

 a {
   text-decoration: underline;
   cursor: pointer;
   &:link { color: #11C; }
   &:visited { color: #339; }
   &:hover, &:focus, &:active { color: #00F; }
   img { border: none; }
 }


 em { font-style: italic; }
 strong { font-weight: bold; }

 form, fieldset {
   margin: 0;
   padding: 0;
   border: none;
 }

 input, button, select {
   vertical-align: middle; 
 }

 table, td{
   border: 1px solid #ccc;
 }

 table {
   border-collapse: collapse;
 }
