!!! 5
%html
  %head
    %title
      Wcadono
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application" 
    = csrf_meta_tags

  %body
    #header
      = link_to "Home", root_path
    #content= yield 
    #footer
